body {
  background-color: #272b30;
  color: #aaa;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #1c1e22;
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
}

footer p {
  text-align: center;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
