/* GLOBALS GLOBALS GLOBALS */

body {
  background-color: #272b30;
  color: #aaa;
  margin: 0;
}

/* GLOBALS GLOBALS GLOBALS */

/* HEADER HEADER HEADER */

.headerCont {
  width: 100vw;
  height: 3rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 9px 23px 0 rgba(0, 0, 0, 0.3);
}

.headerLogo {
  background-image: url(./img/logo-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  height: 100%;
  width: 15rem;
  display: flex;
}

.navUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navLink,
.navLink:visited,
.navLink:link {
  color: white;
  text-decoration: none;
}

/* HEADER HEADER HEADER */

/* CARDS CARDS CARDS */

.mainCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 30px 15% 30px 15%;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  height: auto;
}

.game-img {
  max-width: 100%;
  max-height: 50%;
  object-fit: cover;
}

.game-title {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.game-desc {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  height: 7rem;
  flex-wrap: wrap;
}

.game-actions {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.game-link {
  background-color: #8b0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}

.like-btn {  /* THIS ICON IS TEMPORARY */
  background-color: transparent;
  border: none;
  transform: scale(2.4) translateY(-1.5px);
  cursor: pointer;
}

.comments-btn {
  width: 10rem;
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5rem;
}

/* CARDS CARDS CARDS */

/* MODAL MODAL MODAL */

.modal-content {
  background-color: #272b30;
}

.modal-title {
  color: white;
}

.close-modal {
  filter: brightness(200) !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-info {
  margin: 1rem 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  justify-items: center;
}

.span {
  color: white;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-comments {
  width: 100%;
}

.comments-tittle {
  color: white;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.close-btn {
  float: right;
}

.commentsUl {
  border-radius: 7px;
  background-color: hsl(210, 12%, 10%);
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  margin: 0.5rem 0;
  align-items: center;
  justify-content: center;
}

/* MODAL MODAL MODAL */

/* FOOTER FOOTER FOOTER */

.footerCont {
  position: fixed;
  bottom: 0;
  background-color: #1c1e22;
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
}

.footerInfo {
  text-align: center;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

/* FOOTER FOOTER FOOTER */
